<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>
    {% block title %}Python Hydra{% endblock %}
  </title>
  <style media="screen">
    a.anchor {
      display: block;
      position: relative;
      top: -80px;
      visibility: hidden;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"> <img src="https://www.hydra-cg.com/img/logo.png" class= "pr-2"width="55px" alt="Hydra CG logo"><a href="https://hydra-cg.com/" style=" text-decoration: none !important; color:black">Python HYDRA</a> </h5>
    <div class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark d-none d-md-inline d-xl-inline" href="#inspiration">Our Inspiration</a>
      <a class="p-2 text-dark  d-none d-md-inline d-xl-inline" href="#hydrus">About Hydrus</a>
      <a class="p-2 text-dark  d-none d-md-inline d-xl-inline" href="#getting-started">Getting Started</a>
    </div>
    <a class="btn btn-outline-primary d-none d-sm-inline d-md-inline d-xl-inline" href="#ideas">Project Ideas</a>
  </nav>

  <div class="container mt-5 pt-5">
    <div class="banner text-center">
      <h1>Hydra W3C Community</h1>
    </div>

    {% block body %}{% endblock %}

    <div id="disqus_thread"></div>
    <script>
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement('script');
        s.src = 'https://hydra-gsoc.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  </div>
  <footer class="footer text-center pb-2">
    <div class="container">
      <span class="">Made with <img src="https://img00.deviantart.net/9855/i/2016/130/b/7/undertale___pixel_heart_thingy_by_aspalax-da1zkgz.png" alt="love" width="20px"> by Hydra Community Group.</span>
    </div>
  </footer>
</body>
</html>
